/* .newz-feed{
  text-align: center;
    background-color: rgb(204, 204, 231);
    padding: 10px;
    margin: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    max-width: 100%;
  } */
  .main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
  }
  .img{
    max-height: fit-content;
    width: 30rem;
    height: 15rem;
  }
  .sub-container-1 {
    padding: 2rem;
}
.newzHeading{
  text-align: center;
}
.sub-container-2 {
  padding: 2rem;
}
.newz :hover{
  color: #3359e3;
}
  @media screen and (max-width:940px) {
     .main {
        grid-template-columns: 1fr;
    }
}